{% macro getTitle(errors, titleId, fieldIds) %}
  {% set hasError = false %}

  {% for id in fieldIds %}
    {% if errors | findError(id) %}
      {% set hasError = true %}
    {% endif %}
  {% endfor %}

  {% if hasError %}
    {% set pageTitle = __("error") + ": " + __(titleId + ".title") %}
  {% else %}
    {% set pageTitle = __(titleId + ".title") %}
  {% endif %}

  {{ pageTitle }} – {{ __("serviceName") }} – GOV.UK
{% endmacro %}
