{% extends "partials/layout.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}

      {% set hintHtml %}
        {{
          govukDetails({
          summaryText: __('livingAndVisiting.whichSchedule.getIdeas'),
          html: __('livingAndVisiting.whichSchedule.commonSchedules')
          })
        }}
        <p>{{ __('livingAndVisiting.whichSchedule.exactSplitWarning') }}</p>
      {% endset %}

      <form class="form" action="{{ paths.LIVING_VISITING_WHICH_SCHEDULE }}" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          govukTextarea({
            label: {
              text: title,
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              html: hintHtml
            },
            name: formFields.WHICH_SCHEDULE,
            value: initialSchedule,
            errorMessage: errors | findError(formFields.WHICH_SCHEDULE)
          })
        }}
        {{ govukButton({text: __('continue')}) }}
      </form>
      <form class="form" action="{{ paths.LIVING_VISITING_WHICH_SCHEDULE_NOT_REQUIRED }}" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button class="govuk-link link-styled-button">{{ __('doNotNeedToDecide') }}</button>
      </form>
    </div>
  </div>
{% endblock %}
