{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% set htmlLang = getLocale() %}
{% set mainClasses = "app-container govuk-body" %}

{% block pageTitle %}{{ title }} – {{ __('serviceName') }} – GOV.UK{% endblock %}

{% block head %}
  <meta name="robots" content="noindex, nofollow" />
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet" />
{% endblock %}

{% block beforeContent %}
  {{
    govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    })
  }}
  {% if backLinkHref %}
    <div role="navigation">{{ govukBackLink({text: __('back'), href: backLinkHref}) }}</div>
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
