<h2 class="govuk-heading-l">{{ __('sharePlan.yourProposedPlan.aboutThePlan') }}</h2>

<p class="govuk-body">{{ __('sharePlan.yourProposedPlan.senderSaid', {senderName: values.initialAdultName}) }}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    {{ __('sharePlan.yourProposedPlan.courtOrder' if values.courtOrderInPlace else 'sharePlan.yourProposedPlan.noCourtOrder') }}
  </li>
  <li>
    {% if values.numberOfChildren === 1 %}
      {{ __('sharePlan.yourProposedPlan.forOneChild', {childName: values.childrenNames}) }}
    {% else %}
      {{ __('sharePlan.yourProposedPlan.forMultipleChildren', {childrenNames: values.childrenNames, numberOfChildren: values.numberOfChildren}) }}
    {% endif %}
  </li>
  <li>
    {{ __('sharePlan.yourProposedPlan.agreementBetween', {senderName: values.initialAdultName, otherAdultName: values.secondaryAdultName, childrenNames: values.childrenNames}) }}
  </li>
</ul>

<p>{{ __('sharePlan.yourProposedPlan.doNotStoreNames') }}</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

{{ __('sharePlan.yourProposedPlan.whatHappensNow', {senderName: values.initialAdultName}) | safe }}
