{% extends "partials/layout.njk" %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}

      <form class="form" action="{{ paths.SPECIAL_DAYS_WHAT_WILL_HAPPEN }}" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          govukTextarea({
            label: {
              text: title,
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              text: __('specialDays.whatWillHappen.content')
            },
            name: formFields.SPECIAL_DAYS,
            value: initialWhatWillHappen,
            errorMessage: errors | findError(formFields.SPECIAL_DAYS)
          })
        }}

        {{ govukButton({text: __('continue')}) }}
      </form>
      <form class="form" action="{{ paths.SPECIAL_DAYS_WHAT_WILL_HAPPEN_NOT_REQUIRED }}" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <button class="govuk-link link-styled-button">{{ __('doNotNeedToDecide') }}</button>
      </form>
    </div>
  </div>
{% endblock %}
