<h2 class="govuk-heading-m">{{ __('taskList.decisionMaking') }}</h2>

<h3 class="govuk-heading-s">{{ __('decisionMaking.planLastMinuteChanges.title') }}</h3>
<p class="govuk-body">{{ __('decisionMaking.planLastMinuteChanges.howChangesCommunicated') }}</p>
<p class="newline-separated-paragraph">{{ values.planLastMinuteChanges }}</p>
{{ doYouAgree(__('sharePlan.yourProposedPlan.doNotAgree.decisionMaking.planLastMinuteChanges')) }}

{{ endOfSection(__('sharePlan.yourProposedPlan.compromise.decisionMaking')) }}
