<h2 class="govuk-heading-m">{{ __('taskList.decisionMaking') }}</h2>

<h3 class="govuk-heading-s">{{ __('decisionMaking.planLastMinuteChanges.title') }}</h3>
<p class="govuk-body">{{ __('decisionMaking.planLastMinuteChanges.howChangesCommunicatedAdditionalDescription') }}</p>
<p class="newline-separated-paragraph">{{ values.planLastMinuteChanges }}</p>
{{ doYouAgree(__('sharePlan.yourProposedPlan.doNotAgree.decisionMaking.planLastMinuteChanges')) }}

<h3 class="govuk-heading-s">{{ __('decisionMaking.planLongTermNotice.title') }}</h3>
<p class="govuk-body">{{ __('decisionMaking.planLongTermNotice.sometimesYouNeedToPlanAhead') }}</p>
<p class="newline-separated-paragraph">{{ values.planLongTermNotice }}</p>
{{ doYouAgree(__('sharePlan.yourProposedPlan.doNotAgree.decisionMaking.planLongTermNotice')) }}

<h3 class="govuk-heading-s">{{ __('decisionMaking.planReview.title') }}</h3>
<p class="govuk-body">{{ __('decisionMaking.planReview.childrensNeedsChange') }}</p>
<p class="newline-separated-paragraph">{{ values.planReview }}</p>
{{ doYouAgree(__('sharePlan.yourProposedPlan.doNotAgree.decisionMaking.planReview')) }}

{{ endOfSection(__('sharePlan.yourProposedPlan.compromise.decisionMaking')) }}
