{% from "macros/doYouAgreeAndSuggestion.njk" import doYouAgreeAndSuggestion %}

{# Macro to format per-child answers for display in PDF/HTML #}
{% macro formatPerChildAnswerForPdf(answer, numberOfChildren) %}
  {% if answer.defaultAnswer is defined %}
    {# Per-child answer structure #}
    {% set perChildCount = answer.perChildAnswers | length if answer.perChildAnswers else 0 %}
    {# Show per-child specific answers first #}
    {% if answer.perChildAnswers %}
      {% for childAnswer in answer.perChildAnswers %}
        <p class="govuk-body govuk-!-margin-bottom-1"><strong>For {{ childAnswer.childName }}:</strong></p>
        <p class="newline-separated-paragraph">{{ childAnswer.answer }}</p>
      {% endfor %}
    {% endif %}
    {# Then show default answer for remaining children #}
    {% if perChildCount < numberOfChildren %}
      <p class="govuk-body govuk-!-margin-bottom-1"><strong>{% if perChildCount > 0 %}For all other children:{% else %}For all children:{% endif %}</strong></p>
      <p class="newline-separated-paragraph">{{ answer.defaultAnswer }}</p>
    {% endif %}
  {% else %}
    {# Simple string answer #}
    <p class="newline-separated-paragraph">{{ answer }}</p>
  {% endif %}
{% endmacro %}

<h3 class="govuk-heading-m">{{ __('taskList.livingAndVisiting') }}</h3>

<h4 class="govuk-heading-s">{{ __('livingAndVisiting.mostlyLive.title') }}</h4>
{{ formatPerChildAnswerForPdf(values.mostlyLiveAnswer, values.numberOfChildren) }}
{{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.livingAndVisiting.mostlyLive'), "mostly-live") }}

{% if values.whichScheduleAnswer %}
  <h4 class="govuk-heading-s">{{ __('livingAndVisiting.whichSchedule.title') }}</h4>
  <p>{{ __('livingAndVisiting.whichSchedule.exactSplitWarning') }}</p>
  {{ formatPerChildAnswerForPdf(values.whichScheduleAnswer, values.numberOfChildren) }}
  {{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.livingAndVisiting.whichSchedule'), "which-schedule") }}
{% endif %}

{% if values.willOvernightsHappenAnswer %}
  <h4 class="govuk-heading-s">
    {{ __('livingAndVisiting.willOvernightsHappen.title', {adult: values.parentNotMostlyLivedWith}) }}
  </h4>
  <p class="newline-separated-paragraph">{{ values.willOvernightsHappenAnswer }}</p>
  {{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.livingAndVisiting.willOvernightsHappen', {adult: values.parentNotMostlyLivedWith}), "will-overnights-happen") }}
{% endif %}

{% if values.whichDaysOvernightAnswer %}
  <h4 class="govuk-heading-s">{{ __('livingAndVisiting.whichDaysOvernight.title') }}</h4>
  <p class="newline-separated-paragraph">{{ values.whichDaysOvernightAnswer }}</p>
  {{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.livingAndVisiting.whichDaysOvernight', {adult: values.parentNotMostlyLivedWith}), "which-days-overnight") }}
{% endif %}

{% if values.willDaytimeVisitsHappenAnswer %}
  <h4 class="govuk-heading-s">
    {{ __('livingAndVisiting.willDaytimeVisitsHappen.title', {adult: values.parentNotMostlyLivedWith}) }}
  </h4>
  <p class="newline-separated-paragraph">{{ values.willDaytimeVisitsHappenAnswer }}</p>
  {{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.livingAndVisiting.willDaytimeVisitsHappen'), "will-daytime-visits-happen") }}
{% endif %}

{% if values.whichDaysDaytimeVisitsAnswer %}
  <h4 class="govuk-heading-s">{{ __('livingAndVisiting.whichDaysDaytimeVisits.title') }}</h4>
  <p class="newline-separated-paragraph">{{ values.whichDaysDaytimeVisitsAnswer }}</p>
  {{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.livingAndVisiting.whichDaysDaytimeVisits'), "which-days-daytime-visits") }}
{% endif %}

{{ endOfSection(__('sharePlan.yourProposedPlan.compromise.livingAndVisiting'), "living-and-visiting") }}
