<h3 class="govuk-heading-m">{{ __('taskList.specialDays') }}</h3>

<h4 class="govuk-heading-s">{{ __('specialDays.whatWillHappen.title') }}</h4>
<p>{{ __('specialDays.whatWillHappen.content') }}</p>
<p class="newline-separated-paragraph">{{ values.whatWillHappenAnswer }}</p>
{{ doYouAgree(__('sharePlan.yourProposedPlan.doNotAgree.specialDays.whatWillHappen')) }}

{{ endOfSection(__('sharePlan.yourProposedPlan.compromise.specialDays')) }}
