{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}

      <h1 class="govuk-heading-l">{{ title }}</h1>

      <div class="govuk-inset-text">{{ __('decisionMaking.planReview.youCanAlsoReview') }}</div>

      <p>{{ __('decisionMaking.planReview.childrensNeedsChange') }}</p>
      <form class="form" action="{{ paths.DECISION_MAKING_PLAN_REVIEW }}" method="post">
        <div class="govuk-date-input" id="months-review">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              {{
                govukInput({
                  name: formFields.PLAN_REVIEW_MONTHS,
                  label: {
                    text: __('decisionMaking.planReview.months'),
                    classes: "govuk-label"
                  },
                  inputmode: 'numeric',
                  classes: "govuk-input--width-2",
                  value: formValues[formFields.PLAN_REVIEW_MONTHS],
                  errorMessage: errors | findError(formFields.PLAN_REVIEW_MONTHS)
                })
              }}
            </div>
          </div>

          <p>{{ __('or') }}</p>

          <div class="govuk-date-input" id="years-review">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                {{
                  govukInput({
                    name: formFields.PLAN_REVIEW_YEARS,
                    label: {
                      text: __('decisionMaking.planReview.years'),
                      classes: "govuk-label"
                    },
                    inputmode: 'numeric',
                    classes: "govuk-input--width-2",
                    value: formValues[formFields.PLAN_REVIEW_YEARS],
                    errorMessage: errors | findError(formFields.PLAN_REVIEW_YEARS)
                  })
                }}
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukButton({text: __('continue')}) }}
      </form>
    </div>
  </div>
{% endblock %}
