{% extends "partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <h2 class="govuk-heading-m">{{ __('accessibilityStatement.meetingNeeds') }}</h2>
      <p>{{ __('accessibilityStatement.availableToSmallGroup') }}</p>
      <p>{{ __('accessibilityStatement.usableToAsManyAsPossible', { contactEmail: contactEmail }) | safe }}</p>
      <p>{{ __('accessibilityStatement.statementPrepared') }}</p>
      <p>{{ __('accessibilityStatement.previewEnds', { previewEnd: previewEnd }) }}</p>
    </div>
  </div>
{% endblock %}
