{% extends "partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ __('accessibilityStatement.title') }}</h1>

      <p class="govuk-body">{{ __('accessibilityStatement.content.appliesTo') }}</p>
      <p class="govuk-body">{{ __('accessibilityStatement.content.runBy') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __('accessibilityStatement.content.abilities.changeColours') }}</li>
        <li>{{ __('accessibilityStatement.content.abilities.zoomIn') }}</li>
        <li>{{ __('accessibilityStatement.content.abilities.navigate') }}</li>
        <li>{{ __('accessibilityStatement.content.abilities.listen') }}</li>
      </ul>
      <p class="govuk-body">{{ __('accessibilityStatement.content.simpleText') }}</p>
      <p class="govuk-body">{{ __('accessibilityStatement.content.abilityNet') | safe }}</p>

      <h2 class="govuk-heading-m">{{ __('accessibilityStatement.content.feedback.title') }}</h2>
      <p class="govuk-body">{{ __('accessibilityStatement.content.feedback.contact') | safe }}</p>

      <h2 class="govuk-heading-m">{{ __('accessibilityStatement.content.enforcement.title') }}</h2>
      <p class="govuk-body">{{ __('accessibilityStatement.content.enforcement.responsible') }}</p>
      <p class="govuk-body">{{ __('accessibilityStatement.content.enforcement.complaint') | safe }}</p>

      <h2 class="govuk-heading-m">{{ __('accessibilityStatement.content.technical.title') }}</h2>
      <p class="govuk-body">{{ __('accessibilityStatement.content.technical.commitment') }}</p>

      <h2 class="govuk-heading-m">{{ __('accessibilityStatement.content.compliance.title') }}</h2>
      <p class="govuk-body">{{ __('accessibilityStatement.content.compliance.tested') }}</p>
      <p class="govuk-body">{{ __('accessibilityStatement.content.compliance.wcag') }}</p>
      <p class="govuk-body">{{ __('accessibilityStatement.content.compliance.compliant') }}</p>

      <h2 class="govuk-heading-m">{{ __('accessibilityStatement.content.nonAccessibleContent.title') }}</h2>
      <h3 class="govuk-heading-s">{{ __('accessibilityStatement.content.nonAccessibleContent.subtitle') }}</h3>
      <p class="govuk-body">{{ __('accessibilityStatement.content.nonAccessibleContent.content.screenReader') }}</p>
      <ol class="govuk-list govuk-list--number">
        <li>{{ __('accessibilityStatement.content.nonAccessibleContent.content.list.itemOne') }}</li>
      </ol>
      <p class="govuk-body">{{ __('accessibilityStatement.content.nonAccessibleContent.content.deviatesFromGDS') }}</p>


      <h2 class="govuk-heading-m">{{ __('accessibilityStatement.content.preparation.title') }}</h2>
      <p class="govuk-body">{{ __('accessibilityStatement.content.preparation.preparedOn') }}</p>
      <p class="govuk-body govuk-!-margin-bottom-0">{{ __('accessibilityStatement.content.preparation.lastTested') }}</p>
    </div>
  </div>
{% endblock %}
