{% extends "partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <h2 class="govuk-heading-m">{{ __('taskList.whoThePlanIsFor') }}</h2>
      {{
        govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: __('taskList.theChildren')
            },
            value: {
              text: values.childrenNames
            },
            actions: {
              items: [
                {
                  href: paths.NUMBER_OF_CHILDREN,
                  text: __('checkYourAnswers.change.text'),
                  visuallyHiddenText: __('checkYourAnswers.change.children')
                }
              ]
            }
          },
          {
            key: {
              text:  __('taskList.whoIsUsing')
            },
            value: {
              text: values.adultNames
            },
            actions: {
              items: [
                {
                  href: paths.ABOUT_THE_ADULTS,
                  text: __('checkYourAnswers.change.text'),
                  visuallyHiddenText: __('checkYourAnswers.change.users')
                }
              ]
            }
          }
        ]
        })
      }}

      <h2 class="govuk-heading-m">{{ __('taskList.livingAndVisiting') }}</h2>
      {{
        govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: {
                text: __('taskList.whereWillTheChildrenLive')
              },
              value: {
                text: values.mostlyLive
              },
              actions: {
                items: [
                  {
                    href: paths.LIVING_VISITING_MOSTLY_LIVE,
                    text: __('checkYourAnswers.change.text'),
                    visuallyHiddenText: __('checkYourAnswers.change.whereWillTheChildrenLive')
                  }
                ]
              }
            },
            {
              key: {
                text: __('livingAndVisiting.whichSchedule.title')
              },
              value: {
                text: values.whichSchedule
              },
              actions: {
                items: [
                  {
                    href: paths.LIVING_VISITING_WHICH_SCHEDULE,
                    text: __('checkYourAnswers.change.text'),
                    visuallyHiddenText: __('checkYourAnswers.change.whichSchedule')
                  }
                ]
              }
            } if values.whichSchedule else null,
            {
              key: {
                text: __('livingAndVisiting.willOvernightsHappen.title', {adult: values.parentNotMostlyLivedWith})
              },
              value: {
                text: values.willOvernightsHappen
              },
              actions: {
                items: [
                  {
                    href: paths.LIVING_VISITING_WILL_OVERNIGHTS_HAPPEN,
                    text: __('checkYourAnswers.change.text'),
                    visuallyHiddenText: __('checkYourAnswers.change.willOvernightsHappen', {adult: values.parentNotMostlyLivedWith})
                  }
                ]
              }
            } if values.willOvernightsHappen else null,
            {
              key: {
                text: __('livingAndVisiting.whichDaysOvernight.title')
              },
              value: {
                text: values.whichDaysOvernight
              },
              actions: {
                items: [
                  {
                    href: paths.LIVING_VISITING_WHICH_DAYS_OVERNIGHT,
                    text: __('checkYourAnswers.change.text'),
                    visuallyHiddenText: __('checkYourAnswers.change.whichDaysOvernight')
                  }
                ]
              }
            } if values.whichDaysOvernight else null,
            {
              key: {
                text: __('livingAndVisiting.willDaytimeVisitsHappen.title', {adult: values.parentNotMostlyLivedWith})
              },
              value: {
                text: values.willDaytimeVisitsHappen
              },
              actions: {
                items: [
                  {
                    href: paths.LIVING_VISITING_WILL_DAYTIME_VISITS_HAPPEN,
                    text: __('checkYourAnswers.change.text'),
                    visuallyHiddenText: __('checkYourAnswers.change.willDaytimeVisitsHappen', {adult: values.parentNotMostlyLivedWith})
                  }
                ]
              }
            } if values.willDaytimeVisitsHappen else null,
            {
              key: {
                text: __('livingAndVisiting.whichDaysDaytimeVisits.title')
              },
              value: {
                text: values.whichDaysDaytimeVisits
              },
              actions: {
                items: [
                  {
                    href: paths.LIVING_VISITING_WHICH_DAYS_DAYTIME_VISITS,
                    text: __('checkYourAnswers.change.text'),
                    visuallyHiddenText: __('checkYourAnswers.change.whichDaysDaytimeVisits')
                  }
                ]
              }
            } if values.whichDaysDaytimeVisits else null
          ]
        })
      }}

      <h2 class="govuk-heading-m">{{ __('taskList.specialDays') }}</h2>
      {{
        govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: __('specialDays.whatWillHappen.title')
            },
            value: {
              text: values.whatWillHappen
            },
            actions: {
              items: [
                {
                  href: paths.SPECIAL_DAYS_WHAT_WILL_HAPPEN,
                  text: __('checkYourAnswers.change.text'),
                  visuallyHiddenText: __('checkYourAnswers.change.whatWillHappen')
                }
              ]
            }
          }
        ]
        })
      }}
      {{ govukButton({text: __('continue'), href: paths.SHARE_PLAN }) }}
    </div>
  </div>
{% endblock %}
