{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/title.njk" import getTitle with context %}

{% block pageTitle %}
  {{
    getTitle(
      errors,
      titleIds.CHILDREN_SAFETY_CHECK,
      [formFields.CHILDREN_SAFETY_CHECK]
    )
  }}
{% endblock %}

{% set legendText %}
  {{ __("childrenSafetyCheck.title") | safe }}
{% endset %}

{% set additionalText %}
  <div class="govuk-hint">
    {{ __("childrenSafetyCheck.rightInformation") }}
  </div>
  <div id="child-safety-additional-text">
    <p class="govuk-body">{{ __("childrenSafetyCheck.intro") }}</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{ __("childrenSafetyCheck.bullets.domesticAbuse") }}</li>
      <li>{{ __("childrenSafetyCheck.bullets.abduction") }}</li>
      <li>{{ __("childrenSafetyCheck.bullets.abuseNeglect") }}</li>
      <li>{{ __("childrenSafetyCheck.bullets.substances") }}</li>
      <li>{{ __("childrenSafetyCheck.bullets.otherConcerns") }}</li>
    </ul>
  </div>
  <h2 class="govuk-heading-m">{{ __("childrenSafetyCheck.formHeading") }}</h2>
{% endset %}

{% block content %}
  {% include "partials/exitThisPage.njk" %}
  <div class="govuk-visually-hidden" role="status" aria-live="polite" aria-atomic="true">
    {{ __('exitThisPage') | safe }}
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}

      <form class="form" action="{{ paths.CHILDREN_SAFETY_CHECK }}" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          govukRadios({
            name: formFields.CHILDREN_SAFETY_CHECK,
            fieldset: {
              legend: {
                text: legendText,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: additionalText
            },
            items: [
              {
                value: "Yes",
                text: __('yes')
              },
              {
                value: "No",
                text: __('no')
              },
              {
                value: "notSure",
                text: __('notSure')
              }
            ],
            errorMessage: errors | findError(formFields.CHILDREN_SAFETY_CHECK)
          })
        }}
        {{ govukButton({text: __('continue')}) }}
      </form>
    </div>
  </div>
{% endblock %}
