{% extends "partials/layout.njk" %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/title.njk" import getTitle with context %}

{% block pageTitle %}
  {{ getTitle(null, 'childrenNotSafe') }}
{% endblock %}

{% block content %}
  {% include "partials/exitThisPage.njk" %}
  <div class="govuk-visually-hidden" role="status" aria-live="polite" aria-atomic="true">
    {{ __('exitThisPage') | safe }}
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ __('childrenNotSafe.title') }}</h1>

      {{ __('childrenNotSafe.intro') | safe }}

      {{ govukWarningText({
        text: __('childrenNotSafe.warningText'),
        iconFallbackText: __('childrenNotSafe.warningIconFallback')
      }) }}

      {{ __('childrenNotSafe.content') | safe }}

      <h2 class="govuk-heading-m">{{ __('childrenNotSafe.continueTitle') }}</h2>

      <p>{{ __('childrenNotSafe.continue') }}</p>

      <a href="{{ paths.DO_WHATS_BEST }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        {{ __('continue') }}
      </a>
    </div>
  </div>
{% endblock %}
