{% extends "partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      {{ __('contactUs.content', { contactEmail: contactEmail }) | safe }}
    </div>
  </div>
{% endblock %}
