{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>

      {{ __('cookies.aboutCookies') | safe }}

      <h2 class="govuk-heading-l">{{ __('cookies.howCookiesAreUsed') }}</h2>

      <h3 class="govuk-heading-m">{{ __('cookies.essentialCookies') }}</h3>

      <p>{{ __('cookies.essentialCookiesUse') }}</p>

      {{ __('cookies.rememberingProgress') | safe }}

      {{
        govukTable({
          head: [
            { text: __('cookies.name') },
            { text: __('cookies.purpose') },
            { text: __('cookies.expires') }
          ],
          rows: [
            [
              { text: cookieNames.SESSION },
              { text: __('cookies.sessionPurpose') },
              { text: __('cookies.sessionExpiry') }
            ]
          ]
        })
      }}

      {% if ga4Id %}

        {{ __('cookies.cookiesMessage') | safe }}

        {{
          govukTable({
            head: [
              { text: __('cookies.name') },
              { text: __('cookies.purpose') },
              { text: __('cookies.expires') }
            ],
            rows: [
              [
                { text: cookieNames.ANALYTICS_CONSENT },
                { text: __('cookies.consentPurpose') },
                { text: __('cookies.consentExpiry') }
              ]
            ]
          })
        }}

        <h3 class="govuk-heading-m">{{ __('cookies.optionalCookies') }}</h3>

        {{ __('cookies.aboutOptionalCookies') | safe }}

        {{
          govukTable({
            head: [
              { text: __('cookies.name') },
              { text: __('cookies.purpose') },
              { text: __('cookies.expires') }
            ],
            rows: [
              [
                { text: "_ga" },
                { text: __('cookies._gaCookiePurpose') },
                { text: __('cookies.gaCookiesExpiry') }
              ],
              [
                { text: "_ga_" + (ga4Id | replace("G-", "")) },
                { text: __('cookies._ga_IdCookiePurpose') },
                { text: __('cookies.gaCookiesExpiry') }
              ]
            ]
          })
        }}

        <h3 class="govuk-heading-m">{{ __('cookies.opensearchAnalytics.title') }}</h3>
        <p class="govuk-body">{{ __('cookies.opensearchAnalytics.content.collectData') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ __('cookies.opensearchAnalytics.content.collectDataItems.pageViews') }}</li>
          <li>{{ __('cookies.opensearchAnalytics.content.collectDataItems.linkInteractions') }}</li>
          <li>{{ __('cookies.opensearchAnalytics.content.collectDataItems.pageCompletions') }}</li>
          <li>{{ __('cookies.opensearchAnalytics.content.collectDataItems.pageAndQuickExits') }}</li>
          <li>{{ __('cookies.opensearchAnalytics.content.collectDataItems.fileDownloads') }}</li>
        </ul>
        <p class="govuk-body">{{ __('cookies.opensearchAnalytics.content.doesNotUseCookies') }}</p>
        <p class="govuk-body">{{ __('cookies.opensearchAnalytics.content.monitor') }}</p>

        <h3 class="govuk-heading-m">{{ __('cookies.opensearchAnalytics.content.surveys.title') }}</h3>
        <p class="govuk-body">{{ __('cookies.opensearchAnalytics.content.surveys.intro') }}</p>

        {{
          govukTable({
            head: [
              { text: __('cookies.opensearchAnalytics.content.surveys.table.headerRow.name') },
              { text: __('cookies.opensearchAnalytics.content.surveys.table.headerRow.purpose') },
              { text: __('cookies.opensearchAnalytics.content.surveys.table.headerRow.expires') }
            ],
            rows: [
              [
                { text: __('cookies.opensearchAnalytics.content.surveys.table.valueRowOne.name') },
                { text: __('cookies.opensearchAnalytics.content.surveys.table.valueRowOne.purpose') },
                { text: __('cookies.opensearchAnalytics.content.surveys.table.valueRowOne.expires') }
              ],
              [
                { text: __('cookies.opensearchAnalytics.content.surveys.table.valueRowTwo.name') },
                { text: __('cookies.opensearchAnalytics.content.surveys.table.valueRowTwo.purpose') },
                { text: __('cookies.opensearchAnalytics.content.surveys.table.valueRowTwo.expires') }
              ]
            ]
          })
        }}

        <p class="govuk-body">{{ __('cookies.opensearchAnalytics.content.surveys.smartSurvey') | safe }}</p>

        <form class="form" action="{{ paths.COOKIES }}" method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{
            govukRadios({
              classes: "govuk-radios--inline",
              name: formFields.ACCEPT_OPTIONAL_COOKIES,
              fieldset: {
                legend: {
                  text: __('cookies.acceptOptionalCookies'),
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "Yes",
                  text: __('cookies.yes'),
                  checked: analyticsEnabled
                },
                {
                  value: "No",
                  text: __('cookies.no'),
                  checked: false if analyticsEnabled else true
                }
              ]
            })
          }}

          {{ govukButton({text: __('cookies.saveCookieSettings')}) }}
        </form>
      {% endif %}

    </div>
  </div>
{% endblock %}
