{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}
      <form class="form" action="{{ paths.COURT_ORDER_CHECK }}" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          govukRadios({
            name: formFields.COURT_ORDER_CHECK,
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: __('courtOrderCheck.subText')
            },
            items: [
              {
                value: "Yes",
                text: __('yes')
              },
              {
                value: "No",
                text: __('no')
              }
            ],
            errorMessage: errors | findError(formFields.COURT_ORDER_CHECK)
          })
        }}
        {{ govukButton({text: __('continue')}) }}
      </form>
    </div>
  </div>
{% endblock %}
