{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      {{ __('existingCourtOrder.text') | safe }}

      {{ govukButton({text: __('continue'), href: paths.NUMBER_OF_CHILDREN}) }}
    </div>
  </div>
{% endblock %}
