{% extends "partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ __('serviceName') }} – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">Home</li>
      <li class="govuk-breadcrumbs__list-item">Negotiation tools and services</li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Make or change a child arrangements plan</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ __('serviceName') }}</h1>
      <p>This service helps you work out your child arrangements without having to go to court.</p>
      <p>You’ll end up with a proposed plan that you can share with another parent or carer to ask their agreement.</p>
      <p>Use this service to propose:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>where your children live</li>
        <li>when your children spend time with each parent</li>
        <li>handovers, holidays and whatever else matters to your children</li>
      </ul>

      <p>This service is useful if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          you are separated or divorced from your children’s other parent and have no child arrangements plan in place
          yet
        </li>
        <li>you want to propose changes to your existing arrangements and there is no existing court order in place</li>
      </ul>

      {{
        govukButton({
          text: "Start now",
          isStartButton: true,
          href: paths.SAFETY_CHECK
        })
      }}

      <p>
        You can also
        <a href="{{ paths.DOWNLOAD_PAPER_FORM }}">download a template child arrangements plan (PDF, 0.5MB)</a>.
      </p>

      <p>
        If you think the other parent is a threat to you or your children's safety, you should not use this service.
        <a
          href="https://www.citizensadvice.org.uk/family/making-agreements-about-your-children/making-child-arrangements"
          >Find another way to make arrangements</a
        >.
      </p>

      <p><a href="https://www.nspcc.org.uk/what-is-child-abuse">Find out more about child abuse and neglect</a></p>

      <p>
        <a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help#recognise-domestic-abuse"
          >Find out more about signs of domestic violence</a
        >
        if you're unsure whether you're a victim.
      </p>

      <p>
        <a href="https://www.cafcass.gov.uk/sites/default/files/migrated/Top-Tips-for-parents-who-are-separated.pdf"
          >Tips for parents</a
        >
        from a child's perspective.
      </p>
    </div>
  </div>
{% endblock %}
