{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/title.njk" import getTitle with context %}

{% block pageTitle %}
  {{
    getTitle(
      errors,
      'numberOfChildren',
      [formFields.NUMBER_OF_CHILDREN]
    )
  }}
{% endblock %}

{% block content %}
  {% include "partials/exitThisPage.njk" %}
  <div class="govuk-visually-hidden" role="status" aria-live="polite" aria-atomic="true">
    {{ __('exitThisPage') | safe }}
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}
      <form class="form" action="{{ paths.NUMBER_OF_CHILDREN }}?lang={{ getLocale() }}" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          govukInput({
            name: formFields.NUMBER_OF_CHILDREN,
            label: {
              text: __('numberOfChildren.title'),
              classes: "govuk-label--l",
              isPageHeading: true
            },
            inputmode: 'numeric',
            classes: "govuk-input--width-4",
            value: formValues[formFields.NUMBER_OF_CHILDREN],
            errorMessage: errors | findError(formFields.NUMBER_OF_CHILDREN)
          })
        }}
        {{ govukButton({text: __('continue')}) }}
      </form>
    </div>
  </div>
{% endblock %}
