{% extends "../partials/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% block pageTitle %}

  {% if errors | length %}
    Error:
  {% endif %}
  Sign in - GOV.UK
{% endblock %}

{% block content %}
  <form method="post" action="{{ paths.PASSWORD }}">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        {% include "partials/errorSummary.njk" %}
        <h1 class="govuk-heading-xl">This is a prototype used for research</h1>

        <p>It is not a real service. You should only continue if you have been invited to test this prototype.</p>

        {{
          govukPasswordInput({
            classes: "govuk-input--width-10",
            name: formFields.PASSWORD,
            errorMessage: errors | findError(formFields.PASSWORD),
            label: {
              text: "Password"
            }
          })
        }}

        <input type="hidden" name="returnURL" value="{{ returnURL }}" />
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukButton({text: __('continue')}) }}
      </div>
    </div>
  </form>
{% endblock %}
