{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/title.njk" import getTitle with context %}

{% block pageTitle %}
  {{
    getTitle(
      errors,
      titleIds.SAFETY_CHECK,
      [formFields.SAFETY_CHECK]
    )
  }}
{% endblock %}

{% set legendText %}
  {{ __("safetyCheck.title") }}
{% endset %}

{% set additionalText %}
  <div class="govuk-hint">
    {{ __("safetyCheck.rightInformation") }}
  </div>
  <div id="safety-check-additional-text">
    <p class="govuk-body">
      {{ __("safetyCheck.intro") }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{ __("safetyCheck.bullets.violence") }}</li>
      <li>{{ __("safetyCheck.bullets.financial") }}</li>
      <li>{{ __("safetyCheck.bullets.coercive") }}</li>
      <li>{{ __("safetyCheck.bullets.harassment") }}</li>
    </ul>
    <h2 class="govuk-heading-m">{{ __("safetyCheck.formHeading") }}</h2>
  </div>
{% endset %}

{% block content %}
  {% include "partials/exitThisPage.njk" %}
  <div class="govuk-visually-hidden" role="status" aria-live="polite" aria-atomic="true">
    {{ __('exitThisPage') | safe }}
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}

      <form class="form" action="{{ paths.SAFETY_CHECK }}" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          govukRadios({
            name: formFields.SAFETY_CHECK,
            describedBy: "safety-check-additional-text",
            fieldset: {
              legend: {
                text: legendText,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: additionalText
            },
            items: [
              {
                value: "Yes",
                text: __('yes')
              },
              {
                value: "No",
                text: __('no')
              },
              {
                value: "Not sure",
                text: __('notSure')
              }
            ],
            errorMessage: errors | findError(formFields.SAFETY_CHECK)
          })
        }}
        {{ govukButton({
          text: __('continue')
        }) }}
      </form>
    </div>
  </div>

  <script nonce="{{ cspNonce }}">
    var downloadKey = 'downloadTriggered';
    if (sessionStorage.getItem(downloadKey)) {
      sessionStorage.removeItem(downloadKey);
    }
  </script>
{% endblock %}
