{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/title.njk" import getTitle with context %}

{% block pageTitle %}
  {{ getTitle(formFields.SAFETY_CHECK, errors) }}
{% endblock %}

{% block content %}
  {% include "partials/exitThisPage.njk" %}
  <div class="govuk-visually-hidden" role="status" aria-live="polite" aria-atomic="true">
    {{ __('exitThisPage') | safe }}
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}
      <h1 class="govuk-heading-l">{{ __('safetyCheck.title') }}</h1>

      <p class="govuk-body">{{ __('safetyCheck.workWithPartner') }}</p>

      <form class="form" action="{{ paths.SAFETY_CHECK }}?lang={{ getLocale() }}" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          govukRadios({
            name: formFields.SAFETY_CHECK,
            fieldset: {
              legend: {
                text: __('safetyCheck.safeAndConfident'),
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "Yes",
                text: __('yes')
              },
              {
                value: "No",
                text: __('no')
              }
            ],
            errorMessage: errors | findError(formFields.SAFETY_CHECK)
          })
        }}
        {{ govukButton({text: __('continue')}) }}
      </form>
    </div>
  </div>

  <script nonce="{{ cspNonce }}">
    var downloadKey = 'downloadTriggered';
    if (sessionStorage.getItem(downloadKey)) {
      sessionStorage.removeItem(downloadKey);
    }
  </script>
{% endblock %}
