{% extends "partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukPanel({titleText: __('sharePlan.panelTitle') }) }}

      <h1>{{ title }}</h1>
      <p>{{ __('sharePlan.mustNowShare', {otherAdult: values.secondaryAdultName}) }}</p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{ __('sharePlan.whatToDoNext') }}</h2>
      <p>{{ __('sharePlan.sendToSecondary', {otherAdult: values.secondaryAdultName}) }}</p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{ __('sharePlan.giveFeedback') }}</h2>
      <p><a href="{{ feedbackUrl }}">{{ __('sharePlan.completeTheSurvey') }}</a></p>
      <p>{{ __('sharePlan.emailUs', { contactEmail: contactEmail })  | urlize | safe }}</p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
        {{ __('sharePlan.ifTheyDoNotRespond', {otherAdult: values.secondaryAdultName}) }}
      </h2>
      <p>{{ __('sharePlan.tryMediation', {otherAdult: values.secondaryAdultName}) }}</p>

      <p>
        <a href="https://www.gov.uk/looking-after-children-divorce/types-of-court-order"
          >{{ __('sharePlan.ifYouCannotAgree') }}</a
        >
      </p>

      {% set whatWeAreTelling %}{% include 'partials/sharePlan/whatWeAreTelling.njk' %}{% endset %}
      {% set yourProposedPlan %}{% include 'partials/sharePlan/yourProposedPlan.njk' %}{% endset %}

      {{
        govukAccordion({
          id: "share-page-accordion",
          items: [
            {
              heading: {
                text: __('sharePlan.whatWeAreTelling.title', { name: values.secondaryAdultName })
              },
              content: {
                html: whatWeAreTelling
              }
            },
            {
              heading: {
                text: __('sharePlan.yourProposedPlan.title')
              },
              content: {
                html: yourProposedPlan
              }
            }
          ]
        })
      }}
    </div>

    <div class="govuk-grid-column-one-third">
      <hr class="govuk-!-margin-bottom-4 now-share-header" />
      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">{{ __('sharePlan.nowShare') }}</h2>
      <p class="govuk-body govuk-!-margin-bottom-2">
        {{ __('sharePlan.sendThePlanTo', {name: values.secondaryAdultName}) }}
      </p>
      <p><a href="{{ paths.DOWNLOAD_PDF }}">{{ __('sharePlan.download') }}</a></p>
      <p><a href="{{ paths.PRINT_PDF }}" target="_blank">{{ __('sharePlan.print') }}</a></p>
    </div>
  </div>
{% endblock %}
