{% extends "partials/layout.njk" %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">{{ __('sharePlan.nextSteps') }}</h1>

      <h2 class="govuk-heading-m">{{ title }}</h2>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">{{ __('sharePlan.whatToDoNext') }}</h3>
      <p class="govuk-body">{{ __('sharePlan.sendToSecondary', {otherAdult: values.secondaryAdultName}) }}</p>
      <p class="govuk-body">{{ __('sharePlan.collaborate', {otherAdult: values.secondaryAdultName}) }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
        {{ __('sharePlan.ifTheyDoNotRespond', {otherAdult: values.secondaryAdultName}) }}
      </h3>
      <p class="govuk-body">{{ __('sharePlan.tryMediation', {otherAdult: values.secondaryAdultName}) }}</p>

      <p class="govuk-body">
        <a href="https://www.gov.uk/looking-after-children-divorce/types-of-court-order" class="govuk-link"
          >{{ __('sharePlan.ifYouCannotAgree') }}</a
        >
      </p>

      <div class="govuk-!-margin-top-6">
        {{
          govukButton({
            text: __('sharePlan.downloadPlanButton'),
            href: paths.CONFIRMATION
          })
        }}
      </div>

      <p class="govuk-body">
        <a href="{{ paths.DOWNLOAD_HTML }}" class="govuk-link">{{ __('sharePlan.downloadHtml') }}</a>
      </p>
    </div>
  </div>
{% endblock %}
