{% extends "../partials/layout.njk" %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <h2 class="govuk-heading-m">{{ __('taskList.whoThePlanIsFor') }}</h2>
      {{
        govukTaskList({
          items: [
            {
              title: {
                text: __('taskList.theChildren')
              },
              href: paths.NUMBER_OF_CHILDREN,
              status: {
                text: __('taskList.completed')
              }
            },
            {
              title: {
                text: __('taskList.whoIsUsing')
              },
              href: paths.ABOUT_THE_ADULTS,
              status: {
                text: __('taskList.completed')
              }
            }
          ]
        })
      }}

      <h2 class="govuk-heading-m">{{ __('taskList.livingAndVisiting') }}</h2>
      {{
        govukTaskList({
          items: [
            {
              title: {
                text: __('taskList.whereWillTheChildrenLive')
              },
              href: paths.LIVING_VISITING_MOSTLY_LIVE,
              status: {
                text: __('taskList.completed')
              } if mostlyLiveComplete else {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--blue"
                }
              }
            }
          ]
        })
      }}

      <h2 class="govuk-heading-m">{{ __('taskList.specialDays') }}</h2>
      {{
        govukTaskList({
          items: [
            {
              title: {
                text: __('specialDays.whatWillHappen.title')
              },
              href: paths.SPECIAL_DAYS_WHAT_WILL_HAPPEN,
              status: {
                text: __('taskList.completed')
              } if whatWillHappenComplete else {
                tag: {
                  text: "Incomplete",
                  classes: "govuk-tag--blue"
                }
              }
            }
          ]
        })
      }}

      {% if showContinue %}
        <div class="govuk-!-margin-top-5">
          {{ govukButton({text: __('continue'), href: paths.CHECK_YOUR_ANSWERS}) }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
